@use 'abstracts' as *;
@use 'base';
@use 'components';

:root {
  --cardRadius: 16px;
  --blurRadius: 12px;
  --dockRadius: calc(var(--cardRadius) * 0.5);
  --greetRadius: calc(var(--cardRadius) * 0.625);
  --badgeColor: #fe5f55;
}

// body {
//   background: black;
// }

.widget {
  font-family: "Varela Round";
  font-size: 0.75rem;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock {
  position: absolute;
  top: 20%;
}

.time,
.batt-date {
  text-align: center;
}

.time {
  letter-spacing: 0.35rem;
}

.dock {
  position: absolute;
  width: 80%;
  height: 13%;
  bottom: 3%;
  display: flex;
  flex-direction: column;
  @include transition(
    transform 0.5s 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28),
    opacity 0.5s 0.5s
  );

  &.hide {
    opacity: 0;
    transform: translateY(150%);
    @include transition(
      transform 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05),
      opacity 0s 0.5s
    );
    pointer-events: none;
    // transition: transform 0.5s, opacity 0s 0.5s;
  }

  // &.show {
  //   opacity: 1;
  //   transform: translateY(0);
  //   transition: all 0.5s 0.5s;
  // }

  &-greet {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-holder {
    position: relative;
    background-color: var(--bgColor);
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--dockRadius);
  }
}

.card {
  width: 80%;
  position: absolute;
  bottom: 3%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
  border-radius: var(--cardRadius);

  &-info {
    min-height: 41%;
    opacity: 0;
    transform: translateY(90%);
    @include transition(
      transform 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05),
      opacity 0s 0.5s
    );
    pointer-events: none;
  }

  &-app {
    min-height: 42.5%;
    opacity: 0;
    transform: translateY(90%);
    @include transition(
      transform 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05),
      opacity 0s 0.5s
    );
    pointer-events: none;
  }

  // &-info.hide,
  // &-app.hide {
  //   transition: transform 0.9s, opacity 0s 0.9s;
  // }
  &-info.show,
  &-app.show {
    opacity: 1;
    transform: translateY(0);
    @include transition(
      transform 0.5s 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28),
      opacity 0.5s 0.5s
    );
    pointer-events: auto;
  }
}

.info {
  background-color: var(--accentColor);
  border-radius: inherit;
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;

  &-main {
    background: no-repeat center center;
    background-image: url(../assets/images/infobg.jpg);
    background-size: cover;
    flex: 2.95;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0.625rem;

    &-greet {
      position: relative;
      width: 87.5%;
      flex: 0.065;
      background-color: var(--accentColor);
      border-radius: var(--greetRadius);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      z-index: 5;
    }
  }

  & + & {
    margin-top: 0.5rem;
  }

  &-music {
    position: relative;
    background: no-repeat center center;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: hsla(0, 0%, 0%, 0.35);
      @include vendor-prefix("backdrop-filter", "blur(12px)");
      pointer-events: none; /* make the pseudo class click-through */
      border-radius: inherit;
    }
  }
}

.weather-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-icon {
  width: 47px;
}

.weather-details {
  display: flex;
  min-width: 65.5%;
  font-size: 0.5625rem;
  align-items: center;
  justify-content: center;
  padding: 0 0.25rem;

  &-left,
  &-right {
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &-left {
    text-align: right;
  }
}

.weather-temp {
  font-size: 1.25rem;
}

.weather-cond-left {
  color: hsl(0, 0%, 60%);
  text-transform: lowercase;
}

.weather-cond-right {
  text-transform: lowercase;
  font-size: 0.6875rem;
}

.weather-hiLow,
.weather-precipitation {
  color: hsl(0, 0%, 60%);
}

.weather-divider {
  width: 2px;
  height: 47px;
  margin: 0 1rem;
  background-color: hsl(0, 0%, 60%);
}

.music-details {
  z-index: 3;
  display: flex;
  align-items: center;
}

.music-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.music-artwork {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  margin-right: 10px;
  background: no-repeat center center;
  background-size: cover;
}

.music-info {
  width: 150px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.6rem;
}

.music-track,
.music-artist {
  @include ellipsis;
}

.music-artist {
  color: hsla(0, 0%, 100%, 0.65);
}

.music-play {
  position: relative;
  width: 30px;
  height: 30px;
  background: no-repeat center;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accentColor);
    z-index: -1;
    border-radius: 50%;
  }
}

.app-pic {
  flex: 1.65;
  background-image: url(../assets/images/appbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  letter-spacing: 0.15em;
}

.app-holder {
  flex: 1;
  background-color: var(--accentColor);
  margin-top: 0.5rem;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.app-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.app {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  &[name="Blank"] {
    border-radius: 10px;
  }

  &-dock {
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    &[name="Blank"] {
      border-radius: 10px;
    }
  }
}

.badge {
  position: relative;
  left: 95%;
  top: -10%;
  width: 8px;
  height: 8px;
  background-color: var(--badgeColor);
  color: transparent;
  border-radius: 50%;
}

.greet-pic {
  width: 32px;
  height: 32px;
  background: no-repeat center center;
  background-image: url(../assets/images/profile.jpg);
  background-size: cover;
  border-radius: 50%;
}

.greet-tod {
  height: 32px;
  margin-left: -5%;
  font-size: 0.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.greet-buttons {
  height: 32px;
  width: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 22px;
  height: 22px;
  background: no-repeat center/contain;
}

.dock-stuff {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.dock-button {
  width: 18px;
  height: 18px;
  background: no-repeat center/contain;
  background-image: url(../assets/images/menu.svg);
}

.button-home {
  background-image: url(../assets/images/home.svg);
}

.button-apps {
  background-image: url(../assets/images/heart.svg);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.flavor-default {
  --bgColor: hsl(240, 6%, 10%);
  --accentColor: hsl(250, 8%, 15%);
  --textColor: hsl(0, 0%, 100%);
}

.flavor-frosty {
  --bgColor: hsla(0, 0%, 4%, 0.25);
  --accentColor: hsla(0, 0%, 39%, 0.35);
  --textColor: hsl(220, 18%, 90%);
}

.flavor-frosty-blur::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  @include vendor-prefix("backdrop-filter", "var(--blurRadius)");
  backface-visibility: hidden;
  z-index: -1;
  border-radius: inherit;
}
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .dock {
    height: 15%;
  }
  .card-info {
    min-height: 46%;
  }
  .card-app {
    min-height: 46.5%;
  }
  .app {
    width: 43px;
    height: 43px;
  }
  .app-dock {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .dock {
    height: 15%;
  }
  .card-info {
    min-height: 46%;
  }
  .card-app {
    min-height: 46.5%;
  }
  .app {
    width: 46px;
    height: 46px;
  }
  .app-dock {
    width: 43px;
    height: 43px;
  }
}
